@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@400&display=swap");

#clockplate {
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 75%;

  font-family: "Kalnia", serif;
  color: whitesmoke;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.3);

  cursor: default;
}
#clock {
  width: 100%;
  display: flex;
  justify-content: center;
}
#clockplate span {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#todo {
  height: 500px;
}
