@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap");

#clock {
  padding: 30px 10px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  position: relative;
  opacity: 75%;

  font-family: "Kalnia", serif;
  font-size: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.3);

  cursor: default;
}
#clock span {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#todo {
  height: 500px;
}
